@using Application.Services
@model Application.DTO.LinhKienDTO
@section Content{
    <!-- Content -->
    <div>
        <!-- Products -->
        <div class="product-detail" id="product-detail">
            <div class="product-detail-title">
                <h1>@Model.TenLK</h1>
            </div>

            <div class="product-detail-content row">
                <div class="product-detail-content-products col-md-6">
                    <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                        <!-- slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active"> <img src="~/@Model.Hinh" alt="Hills"> </div>
                            <div class="carousel-item"> <img src="images/tainghe.jpg" alt="Hills"> </div>
                        </div>
                        <!-- Left right -->
                        <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#custCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                        <!-- Thumbnails -->
                        <ol class="carousel-indicators list-inline">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0"
                                   data-target="#custCarousel"> <img src="~/@Model.Hinh" class="img-fluid"> </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel">
                                    <img src="images/loa.jpg" class="img-fluid">
                                </a>
                            </li>

                        </ol>
                    </div>
                </div>
                
                <div class="product-detail-content-products col-md-6 m-0">
                    <div class="">
                        <div class="product-detail-content-products-name">
                            <h2><span class="name">@Model.TenLK</span></h2>
                        </div>
                        <div class="product-detail-content-products-producer">
                            <h2>Hãng sản xuất: <span class="producer">@Model.NCC.TenNCC</span></h2>
                        </div>
                        @{
                            var sale = (decimal)Model.DonGias.FirstOrDefault().GiamGia;
                            var price = Model.DonGias.FirstOrDefault().DonGiaBan;
                        }
                        <div class="product-detail-content-products-price">
                            <p>Giá: <span class="price">@Format.Money(price)</span></p>
                        </div>
                        <div class="product-detail-content-products-price-sale">
                            <b>Khuyến mãi: <span class="price-sale">@Format.Money(price - price*sale/100)</span></b>
                        </div>
                        <div class="product-detail-content-products-btn">
                            <p>Số lượng: </p><input type="number" value="1" min="0" max="1000" step="1" class="number" />
                            <br>
                            <button type="button" class="btn btn-danger btn-lg buy-now">Đặt hàng</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="detail-tab">
                <ul class="nav nav-tabs m-0" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">Bình luận</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Mô tả sản phẩm </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="container tab-pane active">
                        <br>
                        <div class="tab-pane-cmt">
                            <div class="detailBox">
                                <div class="actionBox">
                                    <ul class="commentList">
                                        <li>
                                            <div class="commenterImage">
                                                <img src="http://placekitten.com/50/50" />
                                            </div>
                                            <div class="commentText">
                                                <p class="">Hello this is a test comment.</p> <span class="date sub-text">
                                                    on March 5th,
                                                    2014
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="commenterImage">
                                                <img src="http://placekitten.com/45/45" />
                                            </div>
                                            <div class="commentText">
                                                <p class="">
                                                    Hello this is a test comment and this comment is particularly very long and it goes
                                                    on
                                                    and on and on.
                                                </p> <span class="date sub-text">on March 5th, 2014</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="commenterImage">
                                                <img src="http://placekitten.com/40/40" />
                                            </div>
                                            <div class="commentText">
                                                <p class="">Hello this is a test comment.</p> <span class="date sub-text">
                                                    on March 5th,
                                                    2014
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                    <form class="form-inline" role="form">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Your comments" />
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu1" class="container tab-pane fade">
                        <br>
                        <h3>Menu 1</h3>
                        <p>
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
