

@model List<List<Application.DTO.LinhKienDTO>>
@using Application.Services

@section Content{

    <div>
        <!-- Header banner -->
        <div id="header" class="carousel slide header" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#header" data-slide-to="0" class="active"></li>
                <li data-target="#header" data-slide-to="1"></li>
                <li data-target="#header" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/banner1.jpg" alt="Los Angeles" width="1100" style="height: 500px">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/banner2.jpg" alt="Chicago" width="1100" style="height: 500px">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/banner3.jpg" alt="New York" width="1100" style="height: 500px">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header" data-slide="prev">
                <span class="carousel-control-prev-icon" style="color: white"></span>
            </a>
            <a class="carousel-control-next" href="#header" data-slide="next">
                <span class="carousel-control-next-icon" style="color: white"></span>
            </a>
        </div>
        <!-- Products -->
        <div class="title-content-index">
            <p class="title-content-index-name">MỚI NHẤT</p>
        </div>
        <div class="content-index">
            <div id="content" class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (LinhKienDTO item in Model[0])
                    {
                        var sale = (decimal)item.DonGias.FirstOrDefault().GiamGia;
                        var price = item.DonGias.FirstOrDefault().DonGiaBan;
                        <div class="swiper-slide">
                            <a href="~/product/detail/@item.Id">
                                <div class="products">
                                    <div class="products-img">
                                        <img src="~/images/products/@item.Hinh.Split(",")[0]" alt="img">
                                        <div class="products-hover">
                                            <p class="products-hover-see-more">
                                                <a href="~/product/detail/@item.Id">Nhấn để xem chi tiết</a>
                                            </p>
                                            <div class="products-hover-btn">
                                                <p><a  onclick="addToCart(@item.Id,1)">Thêm vào giỏ hàng</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products-name">
                                        <h2>@item.TenLK</h2>
                                    </div>
                                    @if (item.DaBan >= 100)
                                    {
                                        <div class="products-sold">
                                            <span>Đã bán @item.DaBan</span>
                                        </div>
                                    }
                                    <div class="products-price">
                                        <p>@Format.Money(price)</p>
                                    </div>
                                    <div class="products-price-sale">
                                        <p>@Format.Money(price - price * sale / 100)</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
            </div>
        </div>

        <div class="title-content-index">
            <p class="title-content-index-name">BÁN CHẠY NHẤT</p>
        </div>
        <div class="content-index">
            <div id="content" class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (LinhKienDTO item in Model[1])
                    {
                        var sale = (decimal)item.DonGias.FirstOrDefault().GiamGia;
                        var price = item.DonGias.FirstOrDefault().DonGiaBan;
                        <div class="swiper-slide">
                            <a href="~/product/detail/@item.Id">
                                <div class="products">
                                    <div class="products-img">
                                        <img src="~/images/products/@item.Hinh.Split(",")[0]" alt="img">
                                        <div class="products-hover">
                                            <p class="products-hover-see-more">
                                                <a href="~/product/detail/@item.Id">Nhấn để xem chi tiết</a>
                                            </p>
                                            <div class="products-hover-btn">
                                                <p><a onclick="addToCart(@item.Id,1)">Thêm vào giỏ hàng</a></p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="products-name">
                                        <h2>@item.TenLK</h2>
                                    </div>
                                    @if (item.DaBan >= 100)
                                    {
                                    <div class="products-sold">
                                        <span>Đã bán @item.DaBan</span>
                                    </div>
                                    }
                                    <div class="products-price">
                                        <p>@Format.Money(price)</p>
                                    </div>
                                    <div class="products-price-sale">
                                        <p>@Format.Money(price - price * sale / 100)</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
            </div>
        </div>
    </div>
    }
