@model IndexViewModel<Application.DTO.NhaCungCapDTO>

@{
    ViewData["Title"] = "Quản lý nhà sản xuất";
    var count = 0;
    var searchString = (Model.searchString == null) ? "" : Model.searchString;
}

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $(".nhacungcap").addClass("admin-active");

            $(".delete").click(function (e) {
                e.preventDefault();
                if (confirm("Bạn chắc chắn muốn xóa?")) {
                    $(this).parents('form').submit();
                }
            });
        });
    </script>
}

@section Content {
    <div>
        <div class="admin-content-title"><b>QUẢN LÝ NHÀ SẢN XUẤT</b></div>
        <div class="admin-content">
            <div class="admin-filter">
                <div class="row">
                    <div class="col-2"><span>TÌM KIẾM</span></div>
                    <div class="col-10">
                        <form id="searchForm" name="searchForm" method="get" action="@Url.Action("Index", "Manufactuer")">
                            <input type="text" class="admin-input" name="searchString"
                                   value="@searchString">
                            <button class="admin-button-submit" type="submit"
                                form="searchForm" value="Submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div><a href="@Url.Action("Add","Manufactuer")">
                        <div class="admin-plus"><span><i class="fas fa-plus-circle"></i></span></div>
                    </a>
                </div>
            </div>
            <div class="admin-content-title-1"><span class="admin-border-title-1">THÔNG TIN NHÀ SẢN XUẤT</span></div>
            <div class="margin-top-20">
                <table class="table table-striped table-condensed" width="100%">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-1">#</th>
                            <th class="col-2">Mã</th>
                            <th class="col-5">Tên</th>
                            <th class="col-4">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Entities)
                        {
                            count++;
                        <tr class="d-flex">
                            <th class="col-1">@count</th>
                            <td class="col-2">@item.MaNCC</td>
                            <td class="col-5">@item.TenNCC</td>
                            <td class="col-4">
                                <a href="@Url.Action("Edit", "Manufactuer", new { id = item.Id})">
                                    <button class="admin-button edit">
                                        <i class="fas fa-edit"
                                           data-catalog="1"></i>
                                    </button>
                                </a>
                                <form method="post" id="delete" action="/admin/manufactuer/@item.Id/delete" style="display:inline;">
                                    @Html.AntiForgeryToken()
                                    <button class="admin-button delete" data-ncc="@item.Id">
                                        <i class="fas fa-trash-alt" data-ncc="@item.Id"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @{
                await Html.RenderPartialAsync(
                  "Pagination",
                   new ViewDataDictionary(this.Vi‌​ewData) {{"nameFunction", "Index"},{ "nameAction", "Manufactuer" }});
            }
        </div>
    </div>
}
