@using Microsoft.AspNetCore.Identity
@using Domain.Entity;
@using Domain.IRepository;
@using AutoMapper;
@inject UserManager<Domain.Entity.ApplicationUser> userManager;
@inject SignInManager<Domain.Entity.ApplicationUser> signInManager;
@inject ILoaiLinhKienRepository _loailinhkienRepo;
@inject IGioHangRepository _giohangRepo;
@inject IMapper mapper;
@{
    var loailinhkiens = await _loailinhkienRepo.getAll();
    var loailinhkienList = new List<LoaiLinhKienDTO>();
    foreach (LoaiLinhKien item in loailinhkiens)
    {
        var dto = mapper.Map<LoaiLinhKienDTO>(item);
        loailinhkienList.Add(dto);
    }
    var user = await userManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Gear Shop</title>
    <link rel="stylesheet" href="~/css/main.css" type="text/css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <link rel="stylesheet" href="~/css/svg-with-js.css">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/brands.min.css">
    <link rel="stylesheet" href="~/css/regular.min.css">
    <link rel="stylesheet" href="~/css/svg-with-js.css">
    <link rel="stylesheet" href="~/css/solid.min.css">
    <link rel="stylesheet" href="~/css/v4-shims.min.css">
    @RenderSection("Styles", required: false)
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/moment.min.js"></script>
</head>

<body>
    <!-- Menu -->
    <div id="menu" class="menu">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand padding-gear-40" href="/">GEAR SHOP</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mt-2 mt-lg-0">
                    <!-- <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li> -->
                    <li class="nav-item dropdown padding-gear-20">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Danh mục</a>
                        <div class="dropdown-menu">

                            @foreach (LoaiLinhKienDTO item in loailinhkienList)
                            {
                                <a class="dropdown-item" href="/product/category/@item.Id">@item.Ten</a>
                            }

                        </div>
                    </li>
                </ul>
                <div class="col-sm-10">
                    <div class="form-inline my-2 my-lg-0 padding-gear-30 justify-content-center">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" id="SearchInput">
                        <button class="btn btn-outline-dark my-2 my-sm-0" onclick="Search()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item cart">
                        <div id="cart_num">

                        </div>
                        <a class="nav-link" href="/user/cart"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                    <li class="nav-item dropdown mr-auto dropleft">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="fas fa-user"></i>
                        </a>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Khách hàng"))
                        {
                            <div class="dropdown-menu dropleft">
                                <a class="dropdown-item" href="~/user/profile-orders/1">Thông tin tài khoản</a>
                                <a class="dropdown-item" href="~/user/profile-orders/2">Đơn hàng</a>
                                <form method="post" action="/dang-xuat">
                                    <input type="submit" style="display:none" id="logout" />
                                    @Html.AntiForgeryToken()
                                    <label for="logout" class="dropdown-item">Đăng xuất</label>
                                </form>
                            </div>
                        }
                        else if (signInManager.IsSignedIn(User))
                        {
                            <div class="dropdown-menu dropleft">
                                <a class="dropdown-item" href="~/user/profile-orders/1">Thông tin tài khoản</a>
                                <a class="dropdown-item" href="~/user/profile-orders/2">Đơn hàng</a>
                                <a class="dropdown-item" href="~/admin/dashboard">Trang quản lý</a>
                                <form method="post" action="/dang-xuat">
                                    <input type="submit" style="display:none" id="logout" />
                                    @Html.AntiForgeryToken()
                                    <label for="logout" class="dropdown-item">Đăng xuất</label>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="dropdown-menu dropleft">
                                <a class="dropdown-item" href="/dang-nhap">Đăng nhập</a>
                                <a class="dropdown-item" href="/dang-ky">Đăng ký</a>
                            </div>
                        }
                    </li>
                    <!-- <li class="nav-item dropdown mr-auto dropleft">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fas fa-user"></i></a>
                      <div class="dropdown-menu dropleft">
                        <a class="dropdown-item" href="#">Thông tin tài khoản</a>
                        <a class="dropdown-item" href="#">Theo dõi đơn hàng</a>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                      </div>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
        @RenderSection("Content", false)
    </div>
    <!-- Footer -->
    <div class="footer" id="footer">
        <div class="banner-footer">
            <p>GEARSHOP<br />Mua hàng online với nhiều ưu đãi hơn tại GEARSHOP</p>
        </div>
        <div class="content-footer padding-gear-20">
            <div class="col-6 content-left-footer">
                <b>GEARSHOP.COM - HI-END PC & GAMING GEAR</b>
                <br /><b>CÔNG TY TNHH CÔNG NGHỆ HHL</b>
                <br /><br />Địa chỉ: 273 An Dương Vương, Phường 3, Quận 5, Hồ Chí Minh
                <br />Điện thoại: 1800 0000 (miễn phí) - Bảo hành: nhánh số 0
                <br />Email: kinhdoanh@HHL.com
                <p class="p-blue">
                    <b>
                        <br />Hotline: 1800 6975
                        <br />Chính sách bảo mật và hình thức thanh toán
                    </b>
                </p>
                <br /><b>THỜI GIAN LÀM VIỆC: 08:30 - 21:30 TỪ THỨ 2 ĐẾN CHỦ NHẬT</b>
                <br /><br />
                <a href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=52800">
                    <img src="~/images/logobct.png" style="max-width: 400px;">
                </a>
            </div>
            <div class="col-6">
                <p><b>BẢN ĐỒ TỚI GEARSHOP</b><br /><br /></p>
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="600" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=%C4%91%E1%BA%A1i%20h%E1%BB%8Dc%20s%C3%A0i%20g%C3%B2n&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                    <style>
                        .mapouter {
                            position: relative;
                            height: 400px;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 400px;
                        }
                    </style>
                </div>
            </div>

        </div>
    </div>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script>
        var isLogin = @Html.Raw(signInManager.IsSignedIn(User) ? 1 : 0);
        var cart_num = 0;
        function Search() {
            var str = encodeURIComponent($("#SearchInput").val());
            window.location.href = "/product/search?str=" + str;
        }
        function addToCart(id, soluong) {
            if (!isLogin) {
                window.location.href = "/dang-nhap";
                return;
            }

            $.ajax({
                url: '/cart/addtocart',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                data: { linhkienid: id, soluong: soluong },
                success: function (result) {
                    if (result) {
                        getCartNum();
                        alert("Thêm thành công!");
                    }
                    else {
                        alert("Unexpected server error occurred.")
                    }
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
        }
        function getCartNum() {
            if (!isLogin) return;
            $.ajax({
                url: '/cart/getcartnum',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                success: function (result) {
                    if (result > 0) {
                        cart_num = result;
                        var html = `<div class="count" >` + result + `</div>`;
                        $("#cart_num").html(html);
                    }
                },
                error: function () {
                    alert("Error when counting cart items");
                }
            });
        }
        $(document).ready(function () {
            getCartNum();

            $("#SearchInput").on('keyup', function (e) {
                if (e.key === 'Enter' || e.keyCode === 13) {
                    Search();
                }
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>